.expla {
    opacity: 0.8;
    height: 100%;
    width: 50%;
}
body{
    background-color: rgb(236, 236, 236);
}
.rod{
    margin-top: 10px;
    margin-left: 250px;
    font-size: 20px;
}

.redes1{
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-left: 10px;
}
.redes2{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
.collum{
    display: flex;
    width: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
    
    flex-direction: row;
}


.titulo {
    height: 100%;
    width: 100%;
    font-size: 3.0rem;
    font-weight: 300;
    line-height: 1.2;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

.texto {
    width: 70%;
    height: auto;
    color: black;
    text-align: center;
    margin-left: 40px;
    
}
.lista{
    width: 70%;
    height: auto;
    color: black;
    font-size: 24px;
   
    margin-left: 20px;
    list-style-image: url(../assets/check.svg);
}
li{
    margin-bottom: 15px;
}
.lista1{
    width: 70%;
    height: auto;
    color: black;
    font-size: 24px;
    list-style-image: url(../assets/check.svg);
}
.cont{
    width: 300px;
    height: 300px;
    align-self: center;
    margin-right: 25px;
}

.texto1 {
    width: 70%;
    height: auto;
    color: black;
    text-align: center;
   
    margin-right: 40px;
    
}
.contas{
    text-align: center;
}

p{
    font-family: inherit;
    color: inherit;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 30px;
    text-align: center;
}
.tipo{
    font-family: inherit;
    color: #062075;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 30px;
    margin-top: 50px;

}

h2 {
    font-size: 2.5rem;
    font-weight: bolder;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    font-family: inherit;
    color: inherit;
  }

  
h1 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #041858;
    align-self: center;
    
  }
  .qs{
      background-color: rgb(236, 236, 236);
      margin-top: 20px;
      width: 100%;
     
      align-items: center;
      border-radius: 10px;
      box-shadow: white;
      display: flex;
      flex: 1;
      justify-content: center;        
      flex-direction: row;
    
  }
.efeito :hover{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    
}
.rodape{
    background-position-y: 0%;
    width: 100%;
    
    color: #000000;
    background-color: #cacaca;
    margin-top: 150px;
  
    margin-bottom: 0%;
    
}
.rods{
    display: flex;
    width: 100%;
    flex: 1;
    min-height: auto;
}
.final{
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.rod1{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 200px;
}


nav{
   width: 100%; 
   box-shadow: 0px 0px 10px 10px white;
}
.container{
    display: flex;
    width: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  }

.logo{
    width: 200px;
}

.logoo{
    width: 50px;
}

.inicio{
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    background-color: rgb(247, 247, 247);
    justify-content: center;
    align-items: center;
  
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.Bpessoal{
    margin-right: 100px;
}

.carrosel{
    height: 300px;
    width:90%;
    margin:auto;
    display: inline;
}
