/*background*/
.login-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
.fundo-login{
  min-height: 100%;
}
.fundo-login{
  background: #000 url('../assets/slide3.jpg') no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
  display: flex;
  flex: 1;
  align-items: center;
}
.fundo-login1{
  background: #000 url('../assets/slide3.jpg') no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
  display: flex;
  flex: 1;
  align-items: center;
}


/*formulario*/
.login-container form{
    width: 90%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    
}

.login-container form .logo{
    width: 250px;
    
}

.login-container form input{
    margin-top: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 15px;
    height: 48px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
    
}

.login-container form input::placeholder{
    color: #999;
}

.botao{
    margin-top: 15px;
    border: 0px;
    border-radius: 4px;
    height: 48px;
    font-size: 16px;
    background-color: #df4723;
    font-weight: bold;
    color: white;
    cursor: pointer;
    
}


h4{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:rgba(41, 39, 39, 0.7);
    outline: none;
    text-decoration: inherit;
}
/*recebe a imagem*/
 #thumbnail{
  margin-bottom: 20px;
  border: 1px dashed #ddd;
  background-size: cover; 
  cursor: pointer;
  display: flex;
  height: 160px;
  justify-content: center;
  align-items: center;
}

#thumbnail input{
  display: none;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}
/*cards*/



.card-log{
  position: relative;
  width: 300px;
  height: 400px;
  margin: 0px auto 0;
  box-shadow: 0 30px 30px #77747480;
  background-color: rgba(24, 22, 22, 0.26);
  border-radius: 10px;
}
.card-log1{
  position: relative;
  width: 400px;
  height: 700px;
  margin: 0px auto 0;
  box-shadow: 0 30px 30px #77747480;
  background-color: rgba(24, 22, 22, 0.26);
  border-radius: 10px;
}
.card-log-c{
  position: relative;
  width: 300px;
  height: 500px;
  margin: 0px auto 0;
  box-shadow: 0 30px 30px #77747480;
  background-color: rgba(24, 22, 22, 0.26);
  border-radius: 10px;
}
