.main-container{
    width: 100%; 
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-container #Row{
    margin-top: 30px;
    margin-left: -9%;
}

.match-container{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-container .avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
}

.main-container strong{
    font-size: 32px;
    color: black;
}

.main-container p{
    margin-top: 10px;
    font-size: 20px;
    line-height: 30px;
    max-width: 400px;
    color:    rgba(255, 255, 255, 0.8);
    
}

.main-container button{
    background: none;
    font-weight: none;
    color: rgba(255, 255, 255, 01);
    font-size: 18px;
    margin-top: 30px;
    cursor: pointer;
    
}

.matchVer-container{
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(218, 43, 43, 0.8);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.matchVer-container .imgMatch{
    margin-top: 30px;
}

.match-container p, .match-container strong{
    color: white;
}

.main-container .empty{
    color: white;
}

@media(max-Width: 1200px){
    .main-container #Row{
        margin-left: -0%;
    }
}

@media(max-Width: 1000px){
    .main-container #Row{
        margin-left: -5%;
    }

    .kkk{
        margin-left: 5%;
    }

    .kkkk{
        margin-left: 4%;
    }
}