
.fechado{
    border: 2px solid black;
    border-radius: 4px;
    color: blanchedalmond;
    background-color: #df4723;
    width: 50%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
}

.fechar{
    border: 2px solid black;
    border-radius: 4px;
    color: blanchedalmond;
    background-color: #df4723;
    width: 120px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
}

.fechar:hover{
    width: 130px;
    height: 30px;
}

.fec h6{
    color: blanchedalmond;
    font-size: 16px;
    display: flex;
    flex:1;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
}

.fec{
    margin-top: 20px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.vagas-container button{
    margin-top: 10px;
    border: 0px;
    border-radius: 4px;
    height: 48px;
    font-size: 16px;
    background-color: #df4723;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.vagas-container footer{
    color: white;
}
.vagas-container link{
    color: black;
}
.vagas-container{
    width: 100%;
    text-align: center; 
    
}

.box-c{
    width: 300px;
    height: 400px;
    margin-top: 10px;
    box-shadow: 0 30px 30px rgba(87, 85, 85, 0.5);
    margin-bottom: 5%; 
    border-radius: 10px;
    border-style: solid;
    border-width: 5%;
    border-color: rgb(78, 74, 74);
}

@media(max-Width: 1000px){
    .vagas-container #Row{
        margin-left: -4%;
    }
}